:root{
  --mainBlue:rgb(14, 104, 171);
  --secondaryBlue:rgb(179, 206, 234);
  --mainWhite:rgb(249, 250, 244);
  --secondaryWhite:rgb(248, 231, 185);
  --mainBlack:rgb(21, 11, 0);
  --secondaryBlack:rgb(166, 159, 157);
  --mainRed:rgb(211, 32, 42);
  --secondaryRed:rgb(235, 159, 130);
  --mainGreen:rgb(0, 115, 62);
  --secondaryGreen:rgb(196, 211, 202);
}
body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainBlack) !important;
}
.text-title{
  font-family: "Open Sans", sans-serif;
  /* letter-spacing: 0.3rem; */
  text-transform: uppercase;
}
.text-black{
  color: var(--mainBlack);
}
.secondary-text{
  color: var(--secondaryBlue);
}

   